.set_body{
    padding:0;
    margin:0;
    font-family: sans-serif;
    background-color: #f4f5f5;
}

.set_a{
    text-decoration:none;
}

.set_ul{
    list-style-type:none;
}

.set_ul::after{
    clear:both;
    content:"";
    display:block;
}

.set_ul>li{
    float:left;
    text-align: left;
    width: 100%;
    line-height: 50px;
    background-color: #fff;
    margin-top: 5px;
    animation:action_right_to_left 0.6s;
}

.set_ul>li a{
    width:100%;
    color:#aaa;
    display:inline-block;
    text-indent:10px;
}

.action_r_to_l{
    animation:action_right_to_left 0.6s;
}

@keyframes action_right_to_left{
    0%{
        transform:translateX(100%);
    }
    10%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(0);
    }
}